{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section pp-scrollable" id="projects">
            <div class="projects section-inner">
              <div class="container section-cnt">
                <div class="projects-list">
                  <div class="content-marquee has-stopable">
                    <div class="content-marquee__original">
                      <div class="projects-list__item">
                        <!-- Stroke text-->
                          {% for post in postlar%}
                              <div class="projects-list__item">
                                <div class="projects-list__txt">{{post.title}}</div>
                                <div class="projects-list__hover js-projects-img"><a class="projects-list__img" href="project.html"> <img src="{{post.image.url}}" alt=""></a></div>
                              </div>
                          {%endfor%}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>








{%endblock%}